<div class="container main_content" id="auth_main_content">
  <h2 id="main_content_h2">Log In</h2>
  <div class="row" id="main_content_row">
    <div class="col-sm-12 main_content_item">
      <form id="auth_form" action="index.html">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" [(ngModel)]="loginUserData.username" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input [(ngModel)]="loginUserData.password" name="password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check" style="width:60%; margin-left: auto; margin-right: auto; margin-bottom: 10px;
                    text-align: center;">
          <input type="checkbox" class="form-check-input" id="check_me_checkbox">
          <label class="form-check-label" for="check_me_checkbox">Check me out</label>
        </div>
        <div style="width:70%; margin-left: auto; margin-right: auto;">
          <button style="width:100%;" type="submit" (click)="loginUser()" class="btn btn-primary">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
