<div class="container main_content" id="">
  <h2 id="main_content_h2">Add new registration</h2>
  <div class="form-group">
    <div class="row" id="main_content_row">
      <div class="col-md-6 col-sm-12 main_content_item">
        <label for="inputState">Classroom to book</label>
        <select  [(ngModel)]="reservationFormData.classroom" id="inputState" class="form-control">
          <option *ngFor="let classroom of classrooms">{{classroom.classRoomNum}}</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-12 main_content_item">
          <label for="datetimepicker_begin" class="lables">Reservation date</label>
          <div class="input-wrapper" id="datetimepicker_begin" data-target-input="nearest">
            <input class="form-control"  owlinput placeholder="Beggining of reservation date" [(ngModel)]="reservationFormData.startDate"
                   [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
            <owl-date-time #dtPicker1></owl-date-time>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 main_content_item">
          <label for="datetimepicker_end" class="lables">End of reservation date</label>
            <div class="input-wrapper" id="datetimepicker_end" data-target-input="nearest">
              <input class="form-control" [(ngModel)]="reservationFormData.endDate" owlinput placeholder="Ending of reservation date"
                     [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
              <owl-date-time #dtPicker2></owl-date-time>
            </div>
      </div>
      <div class="col-md-6 col-sm-12" style="width: 100%;">
        <div id="try"><button (click)='onPost()' type="submit" id="add_reservation" class="btn btn-primary mb-2">Submit</button></div>
      </div>
    </div>
  </div>
</div>
